<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleGenerico.css" />
    <link rel="stylesheet" href="/css/hospitais.css" />
    <title>Saúde Access</title>
    <link rel="stylesheet" href="/css/protected.css" />
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="js/global.js"></script>
    <script src="js/auth-utils.js" defer></script>
</head>
<body class="protected">
    <header>
        <h1><%= titulo %></h1>
    </header>
    <main>
        <form action="#" class="form-busca-hospital">
            </form>
        <div class="container-hospitais">
            <div class="div-butoes">
                <% hospitais.forEach(hospital => { %>
                    <div class="hospital-item">
                        <a href="/hospital?id=<%= hospital.id %>" class="botao-hospital">
                            <span class="botao-hospital-nota rating-<%= Math.floor(hospital.nota) %>">
                                <%= hospital.nota %>
                            </span>
                            <span class="botao-hospital-nome"><%= hospital.nome %></span>
                        </a>
                        <button class="btn-tracar-rota" data-endereco="<%= hospital.endereco %>" aria-label="Traçar rota para <%= hospital.nome %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M215.6,88.29,167.71,40.4a8,8,0,0,0-11.32,0L135.2,61.59l52.5,52.5,21.19-21.19a8,8,0,0,0,0-11.31ZM40.39,156.79l-8.8,35.21a8,8,0,0,0,9.9,9.9l35.21-8.8L184,85.8,131.5,33.3ZM124.8,124.8,72.3,177.3l-11-2.75,10-10a8,8,0,0,0,0-11.31l-11.31-11.32a8,8,0,0,0-11.32,0l-10,10-2.75-11L88,88.29Z"></path></svg>
                            Rota
                        </button>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>
    <%- include ('partials/navbar.ejs')%>

    <dialog id="modal-rota">
        <div id="modal-conteudo">
            <h2>Calculando Rota...</h2>
            <div id="resultado-rota">
                </div>
        </div>
        <button id="btn-fechar-modal" aria-label="Fechar">X</button>
    </dialog>

  <script src="/src/services/routes.js"></script>
</body>
</html>