<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styleGenerico.css" />
    <title>Saúde Access</title>
    <link rel="stylesheet" href="/css/protected.css" />
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="js/auth-utils.js"></script>
</head>
<body class="protected">
    <header>
        <h1><%= titulo %></h1>
    </header>
    <main>
        <form action="#" class="form-busca-hospital">
            <input
                type="search"
                name="pesquisar-hospitais"
                class="inp-busca-hospital"
                placeholder="Pesquisar hospital"
                autocomplete="off"
            />
            <button type="submit" class="btn-busca-hospital" aria-label="Pesquisar">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                >
                    <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                </svg>
            </button>
        </form>
        <div class="container-hospitais">
            <div class="div-butoes">
                <% hospitais.forEach(hospital => { %>
                <a href="/hospital?id=<%= hospital.id %>" class="botao-hospital" aria-label="Hospital <%= hospital.nome %>">
                    <span class="botao-hospital-nota"><%= hospital.nota %></span>
                    <span class="botao-hospital-nome"><%= hospital.nome %></span>
                </a>
                <% }) %>
            </div>
        </div>
    </main>
    <%- include('partials/navbar.ejs') %>
    <script src="js/global.js"></script>
</body>
</html>