<!DOCTYPE html>
<html lang="pt-br" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleGenerico.css">
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Saúde Access</title>
    <link rel="stylesheet" href="/css/protected.css">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="js/auth-utils.js"></script>
</head>
<body class="protected">
    <header>
        <h1>Meu Perfil</h1>
    </header>
    
    <main>
        <div class="perfil-container">
            <div class="perfil-section">
                <div class="perfil-avatar">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
                    </svg>
                </div>

                <h2 class="perfil-nome"><%= user.nome %></h2>

                <div class="perfil-tabs">
                    <button class="tab-button active" onclick="showContent('pessoais')">Dados Pessoais</button>
                    <button class="tab-button" onclick="showContent('endereco')">Endereço</button>
                </div>

                <div id="pessoais" class="perfil-content">
                    <div class="perfil-info-list">
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">CPF</label>
                                <div class="valor-perfil"><%= user.cpf %></div>
                            </div>
                        </div>
                        
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,128.75,52.57,64ZM216,192H40V74.19l82.59,70.8a8,8,0,0,0,10.82,0L216,74.19V192Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">E-mail</label>
                                <div class="valor-perfil"><%= user.email %></div>
                            </div>
                        </div>

                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Data de Nascimento</label>
                                <div class="valor-perfil"><%= user.data_nascimento %></div>
                            </div>
                        </div>

                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M231.88,175.08A56.26,56.26,0,0,1,176,224C96.6,224,32,159.4,32,80A56.26,56.26,0,0,1,80.92,24.12a16,16,0,0,1,16.62,9.52l21.12,47.15,0,.12A16,16,0,0,1,117.39,96c-.18.27-.37.52-.57.77L96,121.45c7.49,15.22,23.41,31,38.83,38.51l24.34-20.71a8.12,8.12,0,0,1,.75-.56,16,16,0,0,1,15.17-1.4l.12.06,47.11,21.11A16,16,0,0,1,231.88,175.08Zm-15.88-2s0-.06,0-.09l-47-21-24.8,21.06a16,16,0,0,1-17,3c-19.88-9.12-40.27-29.28-49.32-49a16,16,0,0,1,3-17.12l21.1-24.77-21-47s-.06,0-.09,0A40.2,40.2,0,0,0,48,80A128.15,128.15,0,0,0,176,208A40.2,40.2,0,0,0,216,172.94Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Telefone</label>
                                <div class="valor-perfil"><%= user.telefone %></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="endereco" class="perfil-content hidden">
                    <div class="perfil-info-list">
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M219.31,108.68l-80-80a16,16,0,0,0-22.62,0l-80,80A15.87,15.87,0,0,0,32,120v96a8,8,0,0,0,8,8h64a8,8,0,0,0,8-8V160h32v56a8,8,0,0,0,8,8h64a8,8,0,0,0,8-8V120A15.87,15.87,0,0,0,219.31,108.68ZM208,208H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48V120l80-80,80,80Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Logradouro</label>
                                <div class="valor-perfil"><%= user.logradouro %></div>
                            </div>
                        </div>
                        
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M224,88H175.4l8.47-46.57a8,8,0,0,0-15.74-2.86l-9,49.43H111.4l8.47-46.57a8,8,0,0,0-15.74-2.86L95.14,88H48a8,8,0,0,0,0,16H92.23L83.5,152H32a8,8,0,0,0,0,16H80.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,80,224a8,8,0,0,0,7.86-6.57l9-49.43H144.6l-8.47,46.57a8,8,0,0,0,6.44,9.3A7.79,7.79,0,0,0,144,224a8,8,0,0,0,7.86-6.57l9-49.43H208a8,8,0,0,0,0-16H163.77l8.73-48H224a8,8,0,0,0,0-16Zm-76.5,64H99.77l8.73-48h47.73Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Número</label>
                                <div class="valor-perfil"><%= user.numero %></div>
                            </div>
                        </div>
                        
                        
                        <% if (user.complemento) { %>
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Complemento</label>
                                <div class="valor-perfil"><%= user.complemento %></div>
                            </div>
                        </div>
                        <% } %>
                        
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M240,208H224V96a16,16,0,0,0-16-16H144V32a16,16,0,0,0-24.88-13.32L39.12,72A16,16,0,0,0,32,85.34V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM208,96V208H144V96ZM48,85.34,128,32V208H48ZM112,112v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm-32,0v16a8,8,0,0,1-16,0V112a8,8,0,1,1,16,0Zm0,56v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Zm32,0v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Bairro</label>
                                <div class="valor-perfil"><%= user.bairro %></div>
                            </div>
                        </div>

                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M240,208h-8V88a8,8,0,0,0-8-8H160a8,8,0,0,0-8,8v40H104V40a8,8,0,0,0-8-8H32a8,8,0,0,0-8,8V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM168,96h48V208H168Zm-16,48v64H104V144ZM40,48H88V208H40ZM72,72V88a8,8,0,0,1-16,0V72a8,8,0,0,1,16,0Zm0,48v16a8,8,0,0,1-16,0V120a8,8,0,0,1,16,0Zm0,48v16a8,8,0,0,1-16,0V168a8,8,0,0,1,16,0Zm48,16V168a8,8,0,0,1,16,0v16a8,8,0,0,1-16,0Zm64,0V168a8,8,0,0,1,16,0v16a8,8,0,0,1-16,0Zm0-48V120a8,8,0,0,1,16,0v16a8,8,0,0,1-16,0Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Cidade</label>
                                <div class="valor-perfil"><%= user.cidade %></div>
                            </div>
                        </div>
                        
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M228.92,49.69a8,8,0,0,0-6.86-1.45L160.93,63.52,99.58,32.84a8,8,0,0,0-5.52-.6l-64,16A8,8,0,0,0,24,56V200a8,8,0,0,0,9.94,7.76l61.13-15.28,61.35,30.68A8.15,8.15,0,0,0,160,224a8,8,0,0,0,1.94-.24l64-16A8,8,0,0,0,232,200V56A8,8,0,0,0,228.92,49.69ZM104,52.94l48,24V203.06l-48-24ZM40,62.25l48-12v127.5l-48,12Zm176,131.5-48,12V78.25l48-12Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">Estado</label>
                                <div class="valor-perfil"><%= user.estado %></div>
                            </div>
                        </div>
                        
                        <div class="perfil-item">
                            <div class="perfil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                                    <path d="M184,72a56,56,0,1,0-64,55.42V232a8,8,0,0,0,16,0V127.42A56.09,56.09,0,0,0,184,72Zm-56,40a40,40,0,1,1,40-40A40,40,0,0,1,128,112Z"></path>
                                </svg>
                            </div>
                            <div class="input-group">
                                <label class="label-perfil">CEP</label>
                                <div class="valor-perfil"><%= user.cep %></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a class="btn-sair btn-logout">Sair</a>
            </div>
        </div>
    </main>
    
    <%- include('partials/navbar.ejs')%>
    
    <script src="js/global.js"></script>
    <script src="js/perfil.js"></script>
</body>
</html>